version: '3.8'

services:
  db:
    image: postgres:17
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres         # 資料庫使用者
      POSTGRES_PASSWORD: mypassword    # 資料庫密碼
      POSTGRES_DB: mydatabase          # 預設建立的資料庫
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: my-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com   # 登入 pgAdmin 的帳號
      PGADMIN_DEFAULT_PASSWORD: admin         # 登入 pgAdmin 的密碼
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: